body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  margin: 0;
  background-color: #303030;
  color: whitesmoke;
  user-select: none;
}

a:link {
  color: rgb(50, 177, 199);
  text-decoration: none;
}

a:visited { color:rgb(55, 187, 187); }

a:hover {
  color: paleturquoise;
  text-decoration: underline;
}

a:active { color: paleturquoise; }

canvas {
  width: 100%;
  height: 100%;
}

.threejs-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index : -1;
}

.fadeable { transition: opacity 0.2s ease-out; }
.hidden { display: none !important; }
.justify-start { justify-content: start !important; }
.overflow { margin-bottom: 100px; }
.locked { pointer-events: none;}

.ui-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ui-container-mobile {
  position: absolute;
  top: 600px;
}

.ui-content {
  width: 100%;
  max-width: 550px;
  padding: 20px;
  margin-left: auto;
  border-radius: 10px;
  background: rgb(26,26,26);
  background: linear-gradient(90deg, rgba(26,26,26,0.6334908963585435) 0%, rgba(102,102,96,0.2329306722689075) 100%);
}

.ui-content-mobile {
  margin-left: 0 !important;
  width: 90% !important;
  margin-bottom: 100px !important;
}

.notice-container {
  position: absolute;
  color:rgb(165, 165, 165);
  width: 500px;
  right: 0;
  bottom: 0;
}

.notice-container-center { right: calc(50% - 270px) !important; }

.score-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

#score-display { 
  font-size: 2em; 
  position: relative;
}

.word-input-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5% !important;
  margin-top: .7em;
}

.guess-input-container {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  width: 100%;
  margin-top: .7em;
}

.button-controls-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.check-button { 
  width: 7em;
  border-radius: 0em 2em 2em 0em;
}

.control-button {
  width: 200px;
  height: 1.5em;
  border-radius: .75em;
  margin-left: .3em;
  margin-right: .3em;
}

.button {
  font-size: 1.2em;
  border-width: thin !important;
  border: white;
  color: white;
  border-style: solid;
  background: none;
  cursor: pointer;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.button:focus { outline: none; }

.button:hover {
  background-color: rgba(255, 255, 255, 0.685);
  color: rgb(29, 29, 29)
}

.button:active {
  background-color: rgba(255,255,255, 1);
  color: rgb(29, 29, 29)
}

.word-input-message {
  color: lightsalmon;
  text-align: center;
  margin-top: 0.7em;
  max-height: 0;
  overflow: hidden;
  transition: max-height .25s ease-out;
}

.red { color: lightsalmon; }
.green { color: lightgreen; }
.yellow { color: palegoldenrod; }
.white { color: whitesmoke; }
.info-text { margin-top: 0; }

.guessword-input {
  border-radius: 2em 0em 0em 2em;
  border-color: grey rgba(0,0,0,0) grey grey;
  border-style: solid;
  border-width: thin !important;
  width: 100%;
  height: 1.2em;
  font-size: 1.2em;
  padding: 0.1em 1em 0.1em 1em;
  background: none;
  color: white;
}

#guessword-input:focus {
  outline: none;
  border-color: white rgba(0,0,0,0) white white;
}

hr { 
  height:1px;
  border-width:0;
  color:rgb(243, 243, 243);
  background-color:rgb(243, 243, 243);
  width: 100%; 
  margin-left: 10px;
  margin-right: 5px;
}

.arrow-down {
  transform: rotate(-90deg);
  transition: transform .2s ease-out;
}

.arrow-down.open {
  transform: rotate(0deg);
  transition: transform .2s ease-out;
}

.collapsible {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  height: 20px;
  margin-top: 15px;
  margin-bottom: 15px;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.collapsible-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-out;
}

#info-collapsible-content {
  text-align: justify;
  text-justify: inter-word;
}

.quality-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.quality-button {
  width: 100px;
  font-size: 1em;
}

.quality-left { border-radius: 2em 0em 0em 2em; }
.quality-right { border-radius: 0em 2em 2em 0em; }

.quality-selected {
  color: black;
  background-color: whitesmoke;
}

.control-slider { width: 100%; }

.stylized-slider {
  -webkit-appearance: none;
  background: linear-gradient(to right, whitesmoke 0%, whitesmoke 50%, rgb(109, 109, 109) 50%, rgb(109, 109, 109) 100%); 
  border: none;
  border-radius: 3px;
  height: 5px;
  width: 100%;
  outline: none;
}

.stylized-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 8px;
  border-radius: 6px;
  background: whitesmoke;
  cursor: pointer;
}

.settings-row-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2em;
  flex-wrap: nowrap;
  align-items: center;
}

.slider-value-display {
  width: 110px;
  text-align: center;
  margin-left: 10px;
  opacity: .7;
}

.setting-label {
  width: 110px;
  margin-right: 10px;
  font-size: 1em;
}

.feedback-container {
  position: absolute;
  color:rgb(165, 165, 165);
  right: 15%;
  bottom: 53%;
  width: 300px;
  height: 20px;
}

.feedback-container-mobile {
  position: absolute;
  color:rgb(165, 165, 165);
  width: 300px;
  right: calc(50% - 150px);
  top: -100px;
  height: 20px;
}

.angle-feedback-effect {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  animation: angle-fade-in .25s ease forwards;
  width: 300px;
  color: whitesmoke;
  text-align: center;
  height: 50px;
  border-radius: 5px; 
  font-size: 1.5em;
  background: rgb(26,26,26, .5);
  padding-top: 0.8em;
}

.angle-fade { animation: angle-fade-out .25s ease forwards !important; }

@keyframes angle-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes angle-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.word-generation-feedback-effect {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  width: 300px;
  color: whitesmoke;
  text-align: center;
  height: 50px;
  border-radius: 5px;  
  animation: word-gen-anim 1.2s ease; 
  font-size: 1.5em;
  background: rgb(26,26,26, .5);
  padding-top: 0.8em;
}

@keyframes word-gen-anim {
  0% {
    top: 0;
    opacity: 0;
  }
  10% {
    top: -15%;
    opacity: 1;
  }
  75% {
    top: -112%;
    opacity: 1;
  }
  100% {
    top: -150%;
    opacity: 0;
  }
}

.score-point-effect {
  position: absolute;
  right: -1.5em;
  top: 0;
  margin: 0;
  animation: score-point-anim 1s ease;
}

.score-add { color: greenyellow; }
.score-subtract { color: salmon; }

@keyframes score-point-anim {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -70%;
    opacity: 0;
  }
}
