/Slide.js
/temp_models
/temp_models/hand_base_transAnim.glb
/hand_base_transAnim_sk.blend
/hand_base_transAnim.blend
/hand_base_transAnim.blend1
/textures/ao.png
/textures/diffuse.png
/textures/normals_green.png
/textures/normals_inverse.jpg
/textures/normals.png
/textures/roughness.png
/textures/specular.png
/512-texture.png